In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
pdde_demo = pd.read_csv('/content/drive/MyDrive/롯데멤버스/데이터/PDDE_DEMO.csv', encoding='cp949')

In [ ]:
pdde_demo.columns = map(str.lower, pdde_demo.columns)

In [ ]:
pdde_demo

,cust,ma_fem_dv,ages,zon_hlv,rct_no,chnl_dv,cop_c,br_c,pd_c,de_dt,month,week,de_hr,buy_am,buy_ct
0,M232573809,남성,30대,Z10,A01000081370,1,A01,A010024,PD1699,20210101,1,금,14,3000,2
1,M268811651,여성,20대,Z04,A01000082897,1,A01,A010043,PD1699,20210101,1,금,14,6800,1
2,M162681947,여성,30대,Z10,A01000083012,1,A01,A010039,PD1692,20210101,1,금,14,10800,1
3,M163175113,여성,30대,Z16,A01000084005,1,A01,A010024,PD1728,20210101,1,금,14,45000,1
4,M440960058,여성,40대,Z03,A01000085191,1,A01,A010045,PD0776,20210101,1,금,14,216300,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4381738,M772818687,여성,40대,Z10,E06040789854,2,A06,NaN,PD0508,20210524,5,월,18,50000,1
4381739,M616371765,남성,50대,Z17,E06040790385,2,A06,NaN,PD0508,20210524,5,월,18,50000,1
4381740,M321458360,남성,40대,Z17,E06040791228,2,A06,NaN,PD0508,20210524,5,월,18,50000,1
4381741,M136616301,남성,40대,Z10,E06040793412,2,A06,NaN,PD0508,20210524,5,월,18,50000,1
4381742,M561020740,남성,40대,Z04,E06040794830,2,A06,NaN,PD0508,20210524,5,월,18,50000,1

In [ ]:
pdde_demo['zon_hlv'].value_counts()

Z17    1251849
Z10    1161956
Z16     347917
Z11     282070
Z04     281482
Z06     183096
Z13     141338
Z05     112815
Z08     102872
Z09      96051
Z15      90180
Z14      87356
Z12      75500
Z03      69977
Z01      64958
Z07      23665
Z02       8661
Name: zon_hlv, dtype: int64

In [ ]:
x=pdde_demo.groupby('cust')['rct_no'].count()

In [ ]:
x.reset_index() # 총 26,917 명의 데이터

             cust  rct_no
0      M000034966      51
1      M000136117     109
2      M000201112      21
3      M000225114     159
4      M000261625      67
...           ...     ...
26912  M999599111      34
26913  M999673157      24
26914  M999770689     315
26915  M999849895      72
26916  M999962961     331

[26917 rows x 2 columns]

In [ ]:
sex=pdde_demo.groupby('cust')['ma_fem_dv'].unique()

In [ ]:
sex = sex.reset_index()

In [ ]:
sex

             cust ma_fem_dv
0      M000034966      [여성]
1      M000136117      [여성]
2      M000201112      [여성]
3      M000225114      [여성]
4      M000261625      [여성]
...           ...       ...
26912  M999599111      [여성]
26913  M999673157      [남성]
26914  M999770689      [여성]
26915  M999849895      [여성]
26916  M999962961      [여성]

[26917 rows x 2 columns]

In [ ]:
sex[sex['ma_fem_dv']=='여성'] #18485

             cust ma_fem_dv
0      M000034966      [여성]
1      M000136117      [여성]
2      M000201112      [여성]
3      M000225114      [여성]
4      M000261625      [여성]
...           ...       ...
26910  M999492154      [여성]
26912  M999599111      [여성]
26914  M999770689      [여성]
26915  M999849895      [여성]
26916  M999962961      [여성]

[18485 rows x 2 columns]

In [ ]:
fm=sex[sex['ma_fem_dv']=='여성'].index

In [ ]:
offline=pdde_demo[pdde_demo['chnl_dv']==1]

In [ ]:
offline

,cust,ma_fem_dv,ages,zon_hlv,rct_no,chnl_dv,cop_c,br_c,pd_c,de_dt,month,week,de_hr,buy_am,buy_ct
0,M232573809,남성,30대,Z10,A01000081370,1,A01,A010024,PD1699,20210101,1,금,14,3000,2
1,M268811651,여성,20대,Z04,A01000082897,1,A01,A010043,PD1699,20210101,1,금,14,6800,1
2,M162681947,여성,30대,Z10,A01000083012,1,A01,A010039,PD1692,20210101,1,금,14,10800,1
3,M163175113,여성,30대,Z16,A01000084005,1,A01,A010024,PD1728,20210101,1,금,14,45000,1
4,M440960058,여성,40대,Z03,A01000085191,1,A01,A010045,PD0776,20210101,1,금,14,216300,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4351396,M270841507,여성,30대,Z17,A04100894936,1,A04,A040647,PD0080,20211016,10,토,22,3900,1
4351397,M334081804,남성,40대,Z08,A04100896968,1,A04,A042180,PD1849,20211016,10,토,16,7100,2
4351398,M143135890,여성,20대,Z10,A04101590105,1,A04,A043501,PD1165,20211018,10,월,18,2300,1
4351399,M272451565,여성,20대,Z10,A04102317124,1,A04,A043521,PD0409,20211020,10,수,22,1800,1
4351400,M236433557,남성,40대,Z10,A04102971705,1,A04,A040097,PD0380,20211021,10,목,17,4500,1

In [ ]:
offline.groupby('ages')['rct_no'].count()

ages
20대     240967
30대     915667
40대    1606405
50대     841207
60대     261640
70대      87356
Name: rct_no, dtype: int64

In [ ]:
online=pdde_demo[pdde_demo['chnl_dv']==2]

In [ ]:
online.groupby('ages')['rct_no'].count()

ages
20대     11212
30대    109154
40대    231297
50대     68014
60대      7676
70대      1148
Name: rct_no, dtype: int64

In [ ]:
pdde_demo.groupby('ages')['rct_no'].count()

ages
20대     252179
30대    1024821
40대    1837702
50대     909221
60대     269316
70대      88504
Name: rct_no, dtype: int64

In [ ]:
online.groupby('ages')['rct_no'].count()/offline.groupby('ages')['rct_no'].count()*100 #오프라인대비 온라인 구매건 비율

ages
20대     4.652919
30대    11.920709
40대    14.398424
50대     8.085287
60대     2.933802
70대     1.314163
Name: rct_no, dtype: float64

In [ ]:
online.groupby('ages')['rct_no'].count()/pdde_demo.groupby('ages')['rct_no'].count()*100 # 전체 구매 건수 대비 온라인 구매건 비율

ages
20대     4.446048
30대    10.651031
40대    12.586208
50대     7.480470
60대     2.850183
70대     1.297117
Name: rct_no, dtype: float64

In [ ]:
offline.groupby('ages')['buy_am'].sum()

ages
20대     5726131622
30대    23659828371
40대    36909421250
50대    19449389263
60대     7110851694
70대     1852472164
Name: buy_am, dtype: int64

In [ ]:
online.groupby('ages')['buy_am'].sum()

ages
20대     399346997
30대    2022063866
40대    3410486255
50대     976117367
60대     169232788
70대      26032760
Name: buy_am, dtype: int64

In [ ]:
online.groupby('ages')['buy_am'].sum()/offline.groupby('ages')['buy_am'].sum()*100 #오프라인 구매 총액 대비 온라인 구매 총액 비율

ages
20대    6.974115
30대    8.546401
40대    9.240151
50대    5.018756
60대    2.379923
70대    1.405298
Name: buy_am, dtype: float64

In [ ]:
offline.groupby('ages')['buy_am'].mean()

ages
20대    23763.136122
30대    25838.900355
40대    22976.410837
50대    23120.812431
60대    27177.999136
70대    21206.009478
Name: buy_am, dtype: float64

In [ ]:
online.groupby('ages')['buy_am'].mean()

ages
20대    35617.819925
30대    18524.871887
40대    14745.051838
50대    14351.712397
60대    22047.002084
70대    22676.620209
Name: buy_am, dtype: float64

In [ ]:
online.groupby('ages')['buy_am'].mean()/offline.groupby('ages')['buy_am'].mean()*100 #오프라인 금액 평균 대비 온라인 금액 평균 
# 뭔가 좀 이상한데..? 맞는듯
# 20대의 경우 온라인 이용률은 적지만 구매금액의 평균은 높다. 
# 70대는 왜..?

ages
20대    149.886866
30대     71.693732
40대     64.174740
50대     62.072699
60대     81.120770
70대    106.934877
Name: buy_am, dtype: float64

In [ ]:
online.groupby('ages')['buy_am'].mean()

ages
20대    35617.819925
30대    18524.871887
40대    14745.051838
50대    14351.712397
60대    22047.002084
70대    22676.620209
Name: buy_am, dtype: float64

In [ ]:
18485/26917 #총 68% 여성

0.6867407214771334

In [ ]:
offline.groupby('ma_fem_dv')['buy_am'].sum()

ma_fem_dv
남성    27792823428
여성    66915270936
Name: buy_am, dtype: int64

In [ ]:
pdde_demo.groupby('ages')['cop_c'].unique()

ages
20대    [A01, A02, A03, A04, A05, A06]
30대    [A01, A02, A03, A04, A05, A06]
40대    [A01, A02, A03, A04, A05, A06]
50대    [A01, A02, A03, A04, A05, A06]
60대    [A01, A02, A03, A04, A05, A06]
70대    [A01, A02, A03, A04, A05, A06]
Name: cop_c, dtype: object

In [ ]:
pdde_demo.groupby('ages')['cop_c'].agg(**{
    'most_common_value':lambda x:x.mode()
}).reset_index() #모두 A02를 가장 많이 사용

  ages most_common_value
0  20대               A02
1  30대               A02
2  40대               A02
3  50대               A02
4  60대               A02
5  70대               A02

In [ ]:
pdde_demo.groupby('ma_fem_dv')['cop_c'].agg(**{
    'most_common_value':lambda x:x.mode()
}).reset_index() #모두 A02를 가장 많이 사용

  ma_fem_dv most_common_value
0        남성               A02
1        여성               A02

In [ ]:
pdde_demo.groupby('zon_hlv')['cop_c'].agg(**{
    'most_common_value':lambda x:x.mode()
}).reset_index() #Z14	A03 제외하고 모두 A02

   zon_hlv most_common_value
0      Z01               A02
1      Z02               A02
2      Z03               A02
3      Z04               A02
4      Z05               A02
5      Z06               A02
6      Z07               A02
7      Z08               A02
8      Z09               A02
9      Z10               A02
10     Z11               A02
11     Z12               A02
12     Z13               A02
13     Z14               A03
14     Z15               A02
15     Z16               A02
16     Z17               A02

In [ ]:
pdde_demo.groupby('ma_fem_dv')['pd_c'].agg(**{
    'most_common_value':lambda x:x.mode()
}).reset_index() #모두 일반스낵/과자/스낵류를 많이삼

  ma_fem_dv most_common_value
0        남성            PD0232
1        여성            PD0232

In [ ]:
pdde_demo.groupby('zon_hlv')['pd_c'].agg(**{
    'most_common_value':lambda x:x.mode()
}).reset_index() 
# Z01, Z05,Z08, Z11, Z12, Z14 는 종량제봉투, 청소/세탁/욕실용품, 청소용품 (PD1484)
# Z02는 파우치/즉석음료, 음료, 음료세트 (PD1484)
# Z04	PD0480 기타파티/팬시용품, 문구/사무용품, 파티/팬시용품
# Z07	PD1173 생수, 음료, 생수

   zon_hlv most_common_value
0      Z01            PD1484
1      Z02            PD1178
2      Z03            PD0232
3      Z04            PD0480
4      Z05            PD1484
5      Z06            PD0232
6      Z07            PD1173
7      Z08            PD1484
8      Z09            PD0232
9      Z10            PD0232
10     Z11            PD1484
11     Z12            PD1484
12     Z13            PD0232
13     Z14            PD1484
14     Z15            PD0232
15     Z16            PD0232
16     Z17            PD0232

In [ ]:
pdde_demo.groupby('ages')['pd_c'].agg(**{
    'most_common_value':lambda x:x.mode()
}).reset_index()

# 20대는 종량제봉투, 청소/세탁/욕실용품, 청소용품
# 6~70대는 일반우유, 유제품, 우유

  ages most_common_value
0  20대            PD1484
1  30대            PD0232
2  40대            PD0232
3  50대            PD0232
4  60대            PD1156
5  70대            PD1156

In [ ]:
pdde_demo.groupby('ages')['month'].agg(**{
    'most_common_value':lambda x:x.mode()
}).reset_index()

  ages  most_common_value
0  20대                  5
1  30대                  5
2  40대                  1
3  50대                  1
4  60대                  7
5  70대                  7

In [ ]:
pdde_demo.groupby('ages')['week'].agg(**{
    'most_common_value':lambda x:x.mode()
}).reset_index()

  ages most_common_value
0  20대                 토
1  30대                 토
2  40대                 토
3  50대                 토
4  60대                 토
5  70대                 토

In [ ]:
pdde_demo.groupby('ages')['de_hr'].agg(**{
    'most_common_value':lambda x:x.mode()
}).reset_index()

  ages  most_common_value
0  20대                 18
1  30대                 17
2  40대                 17
3  50대                 17
4  60대                 16
5  70대                 16

In [ ]:
pdde_demo.groupby('ma_fem_dv')['buy_am'].count()

ma_fem_dv
남성    1268114
여성    3113629
Name: buy_am, dtype: int64

In [ ]:
offline.groupby('ma_fem_dv')['buy_am'].sum()/pdde_demo.groupby('ma_fem_dv')['buy_am'].count()
# 남성과 여성이 비슷한 금액을 offline에서 구매(1인당)

ma_fem_dv
남성    21916.660038
여성    21491.086747
Name: buy_am, dtype: float64

In [ ]:
online.groupby('ma_fem_dv')['buy_am'].sum()/pdde_demo.groupby('ma_fem_dv')['buy_am'].count()
# 남성과 여성이 비슷한 금액을 online 구매(1인당)

ma_fem_dv
남성    1628.029835
여성    1586.172472
Name: buy_am, dtype: float64

In [ ]:
pdde_demo[(pdde_demo['ma_fem_dv']=='여성') & (pdde_demo['ages']=='40대')] # 40대 여성의 구매력이 상당하니까 이들의 구매패턴을 분석해보면?

,cust,ma_fem_dv,ages,zon_hlv,rct_no,chnl_dv,cop_c,br_c,pd_c,de_dt,month,week,de_hr,buy_am,buy_ct
4,M440960058,여성,40대,Z03,A01000085191,1,A01,A010045,PD0776,20210101,1,금,14,216300,1
7,M506355556,여성,40대,Z17,A01000088408,1,A01,A010032,PD1763,20210101,1,금,14,89000,1
8,M506355556,여성,40대,Z17,A01000088408,1,A01,A010032,PD1763,20210101,1,금,14,79000,1
19,M506965359,여성,40대,Z16,A01000096406,1,A01,A010045,PD0964,20210101,1,금,14,195000,1
23,M746428121,여성,40대,Z16,A01000099270,1,A01,A010024,PD1767,20210101,1,금,14,99000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4381709,M692324930,여성,40대,Z17,E06039208786,2,A06,NaN,PD1085,20210524,5,월,17,65600,1
4381710,M692324930,여성,40대,Z17,E06039208786,2,A06,NaN,PD1143,20210524,5,월,17,7000,1
4381711,M692324930,여성,40대,Z17,E06039208786,2,A06,NaN,PD1143,20210524,5,월,17,11000,1
4381712,M692324930,여성,40대,Z17,E06039208786,2,A06,NaN,PD1115,20210524,5,월,17,50000,1
4381738,M772818687,여성,40대,Z10,E06040789854,2,A06,NaN,PD0508,20210524,5,월,18,50000,1

In [ ]:
fm=pdde_demo[pdde_demo['ma_fem_dv']=='여성'] #3113629건

In [ ]:
mm=pdde_demo[pdde_demo['ma_fem_dv']=='남성'] #1268114

In [ ]:
xx=pdde_demo[(pdde_demo['de_hr']>=9) & (pdde_demo['de_hr']<=18) 
& ((pdde_demo['week']=='월')|(pdde_demo['week']=='화')
|(pdde_demo['week']=='수')|(pdde_demo['week']=='목')|
(pdde_demo['week']=='금'))].index.tolist()

In [ ]:
pdde_demo.loc[xx, '근무시간']=1

In [ ]:
pdde_demo

,cust,ma_fem_dv,ages,zon_hlv,rct_no,chnl_dv,cop_c,br_c,pd_c,de_dt,month,week,de_hr,buy_am,buy_ct,근무시간
0,M232573809,남성,30대,Z10,A01000081370,1,A01,A010024,PD1699,20210101,1,금,14,3000,2,1.0
1,M268811651,여성,20대,Z04,A01000082897,1,A01,A010043,PD1699,20210101,1,금,14,6800,1,1.0
2,M162681947,여성,30대,Z10,A01000083012,1,A01,A010039,PD1692,20210101,1,금,14,10800,1,1.0
3,M163175113,여성,30대,Z16,A01000084005,1,A01,A010024,PD1728,20210101,1,금,14,45000,1,1.0
4,M440960058,여성,40대,Z03,A01000085191,1,A01,A010045,PD0776,20210101,1,금,14,216300,1,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4381738,M772818687,여성,40대,Z10,E06040789854,2,A06,NaN,PD0508,20210524,5,월,18,50000,1,1.0
4381739,M616371765,남성,50대,Z17,E06040790385,2,A06,NaN,PD0508,20210524,5,월,18,50000,1,1.0
4381740,M321458360,남성,40대,Z17,E06040791228,2,A06,NaN,PD0508,20210524,5,월,18,50000,1,1.0
4381741,M136616301,남성,40대,Z10,E06040793412,2,A06,NaN,PD0508,20210524,5,월,18,50000,1,1.0
4381742,M561020740,남성,40대,Z04,E06040794830,2,A06,NaN,PD0508,20210524,5,월,18,50000,1,1.0

In [ ]:
pdde_demo[(pdde_demo['week'] == '월') & (pdde_demo['de_hr']==9)]

,cust,ma_fem_dv,ages,zon_hlv,rct_no,chnl_dv,cop_c,br_c,pd_c,de_dt,month,week,de_hr,buy_am,buy_ct,근무시간
4873,M675461091,여성,40대,Z11,A01003409107,1,A01,A010026,PD1181,20210104,1,월,9,3000,1,1.0
5841,M994550219,여성,20대,Z04,E01000078265,2,A01,NaN,PD1781,20210104,1,월,9,39500,1,1.0
23652,M935369751,여성,30대,Z04,A01011026400,1,A01,A010027,PD1181,20210111,1,월,9,3000,1,1.0
41525,M219976112,여성,30대,Z04,A01033312146,1,A01,A010037,PD1181,20210201,2,월,9,3500,1,1.0
45889,M689688005,남성,30대,Z15,E01000713474,2,A01,NaN,PD1928,20210201,2,월,9,160000,1,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4379362,M243558770,남성,20대,Z05,E06035389583,2,A06,NaN,PD0290,20210503,5,월,9,15000,1,1.0
4379363,M243193733,남성,50대,Z17,E06035390291,2,A06,NaN,PD0504,20210503,5,월,9,10980,1,1.0
4379364,M243193733,남성,50대,Z17,E06035390291,2,A06,NaN,PD0504,20210503,5,월,9,10980,1,1.0
4379365,M243193733,남성,50대,Z17,E06035390291,2,A06,NaN,PD0504,20210503,5,월,9,10980,1,1.0
4381713,M883168799,여성,50대,Z13,E06039346158,2,A06,NaN,PD0951,20210524,5,월,9,25200,1,1.0

In [ ]:
pdde_demo['근무시간'].fillna(0, inplace=True)

In [ ]:
pdde_demo.groupby('ages')['근무시간'].mean() #확실히 20대는 60,70대에 비해 9~18시에 구매건수가 낮음 (특히 평일에 두드러짐!!, 
# 주말 포함할 경우에는 큰 차이나지 않고, 모두 0.5 이상)
# 평일 9~18시에는 60~70대의 구매 비율이 높아지고
# 20~50대의 경우는 구매비율이 낮아짐
# 좀 애매하게 정의한 것 같음

ages
20대    0.421237
30대    0.463176
40대    0.457556
50대    0.477378
60대    0.589434
70대    0.659315
Name: 근무시간, dtype: float64

In [ ]:
pdde_demo.groupby('ages')['근무시간'].sum()

ages
20대    106227.0
30대    474672.0
40대    840852.0
50대    434042.0
60대    158744.0
70대     58352.0
Name: 근무시간, dtype: float64

In [ ]:
weekday=pdde_demo[(pdde_demo['week']=='월')|(pdde_demo['week']=='화')
|(pdde_demo['week']=='수')|(pdde_demo['week']=='목')|
(pdde_demo['week']=='금')].index.tolist()

In [ ]:
pdde_demo.loc[weekday,'weekday'] = 1

In [ ]:
pdde_demo['weekday'].fillna(0, inplace=True)

In [ ]:
wd=pdde_demo[pdde_demo['weekday']==1]

In [ ]:
wd.groupby('ages')['근무시간'].mean() #평일

ages
20대    0.622539
30대    0.700085
40대    0.704100
50대    0.719588
60대    0.829579
70대    0.887929
Name: 근무시간, dtype: float64

In [ ]:
# pdde_demo.groupby('weekday')['ages'].mean()

In [ ]:
pdde_demo.groupby('ages')['weekday'].mean()

ages
20대    0.676642
30대    0.661599
40대    0.649845
50대    0.663404
60대    0.710522
70대    0.742531
Name: weekday, dtype: float64

In [ ]:
pdde_demo

,cust,ma_fem_dv,ages,zon_hlv,rct_no,chnl_dv,cop_c,br_c,pd_c,de_dt,month,week,de_hr,buy_am,buy_ct,근무시간,weekday
0,M232573809,남성,30대,Z10,A01000081370,1,A01,A010024,PD1699,20210101,1,금,14,3000,2,1.0,1.0
1,M268811651,여성,20대,Z04,A01000082897,1,A01,A010043,PD1699,20210101,1,금,14,6800,1,1.0,1.0
2,M162681947,여성,30대,Z10,A01000083012,1,A01,A010039,PD1692,20210101,1,금,14,10800,1,1.0,1.0
3,M163175113,여성,30대,Z16,A01000084005,1,A01,A010024,PD1728,20210101,1,금,14,45000,1,1.0,1.0
4,M440960058,여성,40대,Z03,A01000085191,1,A01,A010045,PD0776,20210101,1,금,14,216300,1,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4381738,M772818687,여성,40대,Z10,E06040789854,2,A06,NaN,PD0508,20210524,5,월,18,50000,1,1.0,1.0
4381739,M616371765,남성,50대,Z17,E06040790385,2,A06,NaN,PD0508,20210524,5,월,18,50000,1,1.0,1.0
4381740,M321458360,남성,40대,Z17,E06040791228,2,A06,NaN,PD0508,20210524,5,월,18,50000,1,1.0,1.0
4381741,M136616301,남성,40대,Z10,E06040793412,2,A06,NaN,PD0508,20210524,5,월,18,50000,1,1.0,1.0
4381742,M561020740,남성,40대,Z04,E06040794830,2,A06,NaN,PD0508,20210524,5,월,18,50000,1,1.0,1.0

In [ ]:
buy_am_mean=pdde_demo.groupby('cust')['buy_am'].mean()

In [ ]:
buy_am_mean=buy_am_mean.reset_index()

In [ ]:
buy_am_mean=buy_am_mean.sort_values(by='buy_am', ascending=False)

In [ ]:
buy_am_mean.reset_index()

       index        cust      buy_am
0      18058  M669977400  7677500.00
1      11990  M445124669  5373000.00
2       2397  M088817834  5270000.00
3      16818  M621699711  5149906.25
4      25097  M929502609  3941600.00
...      ...         ...         ...
26912  14870  M549598435      500.00
26913  18822  M698192014      400.00
26914   4720  M173065733      100.00
26915  11808  M438665188      100.00
26916  13721  M506952337       10.00

[26917 rows x 3 columns]

In [ ]:
buy_am_mean['cust'].value_counts()

M669977400    1
M874529441    1
M465663083    1
M697209263    1
M277107641    1
             ..
M492923614    1
M941150026    1
M997643850    1
M777441052    1
M506952337    1
Name: cust, Length: 26917, dtype: int64

In [ ]:
pd.merge(buy_am_mean, pdde_demo, on='cust')

,cust,buy_am_x,ma_fem_dv,ages,zon_hlv,rct_no,chnl_dv,cop_c,br_c,pd_c,de_dt,month,week,de_hr,buy_am_y,buy_ct,근무시간,weekday
0,M669977400,7677500.0,남성,30대,Z10,A01496262010,1,A01,A010001,PD1752,20211226,12,일,19,15350000,1,0.0,0.0
1,M669977400,7677500.0,남성,30대,Z10,A02203149739,1,A02,A020058,PD1685,20210502,5,일,18,5000,1,0.0,0.0
2,M445124669,5373000.0,남성,40대,Z17,A01248187964,1,A01,A010002,PD1919,20210701,7,목,12,100000,1,1.0,1.0
3,M445124669,5373000.0,남성,40대,Z17,A01248193971,1,A01,A010002,PD1921,20210701,7,목,12,77000,1,1.0,1.0
4,M445124669,5373000.0,남성,40대,Z17,A01308134932,1,A01,A010041,PD1769,20210816,8,월,10,711000,1,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4381738,M173065733,100.0,남성,40대,Z10,E06030195325,2,A06,NaN,PD0511,20210421,4,수,9,100,1,1.0,1.0
4381739,M173065733,100.0,남성,40대,Z10,E06030815357,2,A06,NaN,PD0511,20210422,4,목,18,100,1,1.0,1.0
4381740,M173065733,100.0,남성,40대,Z10,E06031172866,2,A06,NaN,PD0511,20210423,4,금,15,100,1,1.0,1.0
4381741,M438665188,100.0,여성,20대,Z17,E06031234655,2,A06,NaN,PD0511,20210423,4,금,20,100,1,0.0,1.0
4381742,M506952337,10.0,남성,50대,Z06,A05003262922,1,A05,A050304,PD0415,20210910,9,금,18,10,1,1.0,1.0

In [ ]:
pdde_demo.groupby('cust')['buy_am'].sum()

cust
M000034966      654120
M000136117    27373630
M000201112       53120
M000225114     1937700
M000261625     6052700
                ...
M999599111     1484022
M999673157     2851370
M999770689     1187140
M999849895     1103792
M999962961    11847248
Name: buy_am, Length: 26917, dtype: int64

In [ ]:
pdde.count()

NameError: ignored